<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Climaê</title>
        <link rel="shortcut icon" href="https://i.imgur.com/z5S8BzL.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Compiled and minified CSS --> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <!-- Compiled and minified JavaScript --> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <div class="container"> 
            <my-app></my-app>          
        </div>
        
        <footer-app></footer-app> 

        <script src="/js/app/bundle.js"></script>
    </body>
</html>
