@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

body {
  padding: 0px;
  margin: 0;
  background: url("../img/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.texto1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 50px;
  padding: 7px;
  background: #0d0b19;
  text-align: center;
  vertical-align: middle; 
  color: white;
}

.box-temp{
  background: none;
  height: 64px;
  width: 102px;
  text-align: center;
  float: left; 
}

.box_info{ 
  width: 300px;
  height: 270px;
  background: none;
  float: right;
  margin-top: -140px;
}

.temp{
 font-size: 16px;
 font-family: 'Roboto', sans-serif;
}

img:hover{
  opacity: 0.8;
}

.temp2{
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;  
  width: 180px;
  height: 64px;
  background: url("../img/box.png") no-repeat;  
  color: white;
  margin-top: 10px;
  text-align: center;
 }

.result-weather{
  margin-top: 20px;
  width: 600px;
  height: 300px;
  background-color: #f8f1f1;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.weather-loading{
  margin-top: -20px;
  width: 600px;
  height: 300px;
  background-color: #f8f1f1;
  margin-left: -20px;
  margin-right: auto;
  position: absolute;
  z-index: 2;
}

.logo{
  background: url("../img/logo.png");
  width: 398px;
  height: 288px;  
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
} 

.logo:hover{
  opacity: 0.8;
}
